* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#808080, #AFEEEE); /* Gradiente como fundo */
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding: 20px; /* Espaçamento geral */
}

h1 {
    color: #DEB887; /* Cor do título */
    margin: 10px 0; /* Margem superior e inferior */
    font-size: 2.5em; /* Tamanho do título */
}

form {
    max-width: 500px;
    margin: 20px auto; /* Centraliza e adiciona margem */
    padding: 30px; /* Aumenta o padding interno do formulário */
    background-color: #fff; /* Fundo branco do formulário */
    border-radius: 8px; /* Aumenta o arredondamento das bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra do formulário */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: calc(100% - 24px); /* Calcula a largura para levar em conta o padding */
    padding: 12px; /* Aumenta o padding para deixar os campos maiores */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Aumenta o tamanho da fonte */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
}

button {
    display: block;
    width: 100%;
    padding: 12px; /* Aumenta o padding do botão */
    background-color: #28a745; /* Cor do botão */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Cor ao passar o mouse */
}

.back-button {
    padding: 12px; /* Aumenta o padding do botão "Voltar" */
    background-color: #B22222; /* Cor do botão "Voltar" */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #8B0000; /* Cor ao passar o mouse */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: linear-gradient(#808080, #AFEEEE);
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha para o topo */
    align-items: center;
    transition: 1s;
    background-color: #F0FFFF; /* Cor de fundo do conteúdo */
    padding-top: 50px; /* Espaçamento do topo */
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em; /* Ajusta tamanho da fonte para telas menores */
    }
}
